* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #fff;
}

body {
  background: #3E3A3A;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 20px;
}


@import "header";
@import "begin";
@import "products";
@import "about";
@import "map";
@import "footer";
@import "form";